@import url("./css/media/responsive.css");
@import url("./css/searchpage.css");

:root {
  --swiper-navigation-color: #fff;
  --deault-color: white;
  --font-no-default: verdana, tahoma, sans-serif;
}

@font-face {
  font-family: Cheri;
  src: url("/font/CHERI___.TTF");
}

@font-face {
  font-family: DuruSans;
  src: url("/font/DuruSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
background-color: #333;
font-family: DuruSans, monospace;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 50px 5px;
}

.title-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 10px black;
  font-family: Cheri, fantasy;
}

.title-logo h1 {
  margin: 0;
  color: #40bfc1;
}

.title-logo span {
  color: #f6c343;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 0;
}

.tittle {
  font-size: 2.5rem;
  color: #ffc300;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.listzero,
.listclassic,
.listhight {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  flex: 1;
}

.tag {
  height: 400px;
  width: 90%;
  min-width: 200px;
  max-width: 300px;
  background-color: #bbb5b5;
  text-align: center;
  box-shadow: rgb(0 0 0 / 50.8%) 0 10px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 23%;
}
